.popup__input {
    max-width: 358px;
    width: 100%;
    min-height: 27px;
    margin: 30px 36px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 13px;
}

.popup__input:first-of-type {
    margin-top: 0;
}

.popup__input:invalid {
    border-bottom: 1px solid red;
    color: #FF0000;
}

@media screen and (max-width: 767px) {
    .popup__input {
        max-width: 238px;
        margin-left: 22px;
        margin-right: 22px;
    }
}