.element__like-btn {
    width: 25px;
    height: 19px;
    border: none;
    background-color: #fff;
    background-image: url(../../images/btn-like.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px 5px 1px auto;
    padding: 0;
}
    
.element__like-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.element__like-btn:active {
    background-image: url(../../images/btn-like-active.svg);
}